.p-breadcrumb {
    overflow-x: auto;
}

.p-breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.p-breadcrumb .p-menuitem-text {
    line-height: 1;
}

.p-breadcrumb .p-menuitem-link {
    text-decoration: none;
    cursor: pointer;
}

.p-breadcrumb::-webkit-scrollbar {
    display: inline-block;
    height: 3px;
}

/* Track | Background */
.p-breadcrumb::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.p-breadcrumb::-webkit-scrollbar-thumb {
    background: #ffffff00;
}

.p-breadcrumb:hover::-webkit-scrollbar-thumb {
    background: #C1C1C1;
}

.p-breadcrumb.show-scrollbar::-webkit-scrollbar-thumb {
    background: #C1C1C1;
}

/* Handle on hover */
.p-breadcrumb::-webkit-scrollbar-thumb:hover {
    background: #515151;
}